* {
  text-decoration: none;
}
@font-face {
    font-family: "Dimbo";
    src: url(./Font/Dimbo.ttf);
}
p {
  font-family: "Dimbo";
  font-size: 20px;
}
a {
  text-decoration: none;
  font-family: "Dimbo";
  color: #919595;
}
a:hover {
  cursor: pointer;
}
body, html {
  height: 100%;
  font-family: "Dimbo";
}
.headbg {
  background-color: rgba(255, 255, 255, 0.75);
  padding-bottom: 30px;
}
.bgstore {
  background-image: url("./img/store-min.png");
  height: 10%;
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.nav {
  text-decoration: none;
  position: absolute;
  float: left;
  font-size: 18px;
}
.navform {
  position: absolute;
  top: 2%;
  left: 25%;
}
.navdiv {
  margin-top: 14%;
}
.abt {
  position: absolute;
  bottom: 20%;
  left: 40%;
}
.navs {
  position: absolute;
  bottom: 20%;
}
.navl {
  position: absolute;
  bottom: 20%;
  left: 40%;
}
.xD {
  position: absolute;
  left: 10%;
  top: 47%;
}
.bg {
  background-image: url("./img/layout.png");
  height: 10%;
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.titleText{
  font-size: 70px;
}
#mainWelcomeText{
  text-align: center;
}
.marketbg {
background-color: rgb(234, 254, 252);
  height: 10%;
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#footer {
  font-family: "Dimbo";
  font-size: 25px;
  background-color: rgb(234, 254, 252);
  border-top-color: rgb(89, 154, 165);
  border-top-width: 5px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 75px;
  background-color: rgba(0, 0, 0, 0.5);
}
h2 {
  font-family: "Dimbo";
  font-size: 50px;
}
.commontxt {
  color: rgb(193, 200, 161);
}

.raretxt {
  color: rgb(61, 79, 186);
}
.epictxt {
  color: rgb(211, 146, 224);
}
.legendarytxt {
  color: rgb(215, 189, 74);
}
.commonimg {
  background-color: rgb(193, 200, 161);
  border-radius: 15px;
  border-color: rgb(171, 185, 110);
  border-width: 10px;
  border-style: solid;
}
.rareimg {
  background-color: rgb(68, 181, 200);
  border-radius: 15px;
  border-color: rgb(38, 152, 171);
  border-width: 10px;
  border-style: solid;
}
.epicimg {
  background-color: rgb(211, 146, 224);
  border-radius: 15px;
  border-color: rgb(191, 60, 217);
  border-width: 10px;
  border-style: solid;
}
.legendaryimg {
  background-color: rgb(215, 189, 74);
  border-radius: 15px;
  border-color: rgb(198, 164, 18);
  border-width: 10px;
  border-style: solid;
}
