main {
  background-color: rgba(196, 196, 196, 0.6);
}
html {
  background-color: rgba(196, 196, 196, 0.6);
}
body, html {
  height: 100%;
}
.nav {
  position: absolute;
  bottom: 20%;
  right: 0;
}
.navdiv {
  margin-top: 14%;
}
.abt {
  position: absolute;
  bottom: 20%;
  left: 40%;
}
.navs {
  position: absolute;
  bottom: 20%;
}
.navl {
  position: absolute;
  bottom: 20%;
  left: 40%;
}
.xD {
  position: absolute;
  top: 20%;
}
.bg {
  background-image: url("img/sign-min.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
